services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-prod
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0.35-debian
    container_name: db-prod
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - db_data_prod:/var/lib/mysql
      - ./schema.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data_prod:
